@model TodoApp.Domain.Entities.Task

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex align-items-center justify-content-between">
    <h1>Create Task</h1>
    <a asp-action="Index" asp-controller="Task" class="fs-2 text-decoration-none"><i class="bi bi-arrow-left"></i> Back</a>
</div>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="control-label"></label>
        <select asp-for="Category" class="form-control">
            <option value="">Select Category</option>
            @foreach (var category in Enum.GetValues(typeof(TodoApp.Domain.Enums.ETaskCategory)))
            {
                <option value="@category">@category</option>
            }
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Priority" class="control-label"></label>
        <select asp-for="Priority" class="form-control">
            <option value="">Select Priority</option>
            @foreach (var priority in Enum.GetValues(typeof(TodoApp.Domain.Enums.ETaskPriority)))
            {
                <option value="@priority">@priority</option>
            }
        </select>
        <span asp-validation-for="Priority" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Deadline" class="control-label"></label>
        <input asp-for="Deadline" class="form-control" />
        <span asp-validation-for="Deadline" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-4 w-100">Create</button>
</form>
